<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table border="2">
      <thead>
        <tr>
          <th>Question</th>
          <th>By</th>
        </tr>
      </thead>
    
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= question.user.name %></td>
            <td><%= link_to 'View', question %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render 'post_question' %>
  </div>
</div>
